version: '3.8'
services:
  logstash:
    build: .
    container_name: logstash
    hostname: docker-local
    ports:
      - "6000"
    networks:
      - develop-bridge-network
    deploy:
      resources:
        limits:
          cpus: '0.5'
          memory: 1G

networks:
  develop-bridge-network:
    name: develop-bridge
    external: true