name: Pull Request Open/Sync for telegraf-otel-metrics

on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
    paths:
      - telegraf/metrics/Dockerfile
      - telegraf/metrics/otel-metrics.conf

env:
  AWS_REGION: us-east-1
  ECR_REPOSITORY: telegraf-otel-metrics

jobs:
  push_to_ecr:
    name: Push Image to ECR
    runs-on: ubuntu-latest
    environment: test

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@0e613a0980cbf65ed5b322eb7a1e075d28913a83
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Build, tag, and push image to Amazon ECR
        id: build-image
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
        run: |
          docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:${GITHUB_REF_NAME}-${GITHUB_SHA::7} .
          docker push $ECR_REGISTRY/$ECR_REPOSITORY:${GITHUB_REF_NAME}-${GITHUB_SHA::7}
          echo "image=$ECR_REGISTRY/$ECR_REPOSITORY:${GITHUB_REF_NAME}-${GITHUB_SHA::7}" >> $GITHUB_OUTPUT